@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-size: 18px;
	--font-content: 'Barlow', sans-serif;
	--font-title: 'Fraunces', serif;
	--color-red: #fe7867;
	--color-yellow: #fad400;
	--color-dark-green: #25564b;
	--color-blue: #19536b;
	--color-dark-cyan: #458c7e;
	--color-dark-blue: #23303e;
	--color-gray: #5a636c;
	--color-dark-gray-blue: #818498;
	--color-gray-blue: #a7abae;
	--color-light: #ffffff;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-content);
	font-size: var(--font-size);
	background: var(--color-light);
	color: var(--color-dark-blue);
}

button {
	appearance: none;
	border: none;
	background: transparent;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--color-gray-blue);
}

.main {
	width: 100%;
	background: #3dbeff;
}
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	height: 70px;
	position: relative;
}
.menu {
	display: none;
	position: absolute;
	top: 130%;
	left: 5%;
	width: 90%;
	background: var(--color-light);
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
	padding: 30px;
}
.menu.active {
	display: flex;
}
.menu::after {
	content: '';
	position: absolute;
	bottom: 100%;
	right: 0;
	border-right: 12px solid var(--color-light);
	border-top: 12px solid transparent;
	border-left: 12px solid transparent;
	border-bottom: 12px solid var(--color-light);
}
.menu .item:hover {
	color: var(--color-gray);
}
.menu .item-button {
	background: var(--color-yellow);
	font-family: var(--font-title);
	color: var(--color-dark-blue);
	padding: 8px 24px;
	border-radius: 25px;
}
.menu .item-button:hover {
	color: var(--color-dark-blue);
}
.icon-menu {
	color: var(--color-light);
	font-size: 20px;
	cursor: pointer;
}
.hero {
	width: 100%;
	height: calc(100vh - 70px);
	display: grid;
	place-content: center;
	justify-items: center;
	row-gap: 40px;
	padding: 0 5%;
	background-image: url('../images/mobile/image-header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hero h1 {
	text-transform: uppercase;
	font-family: var(--font-title);
	color: var(--color-light);
	font-size: 40px;
	text-align: center;
	letter-spacing: 4px;
	margin-top: -40px;
}
.hero svg {
	animation: moveIn 1s linear infinite alternate;
	cursor: pointer;
}
@keyframes moveIn {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(15px);
	}
}

/* Mr. Padin */
.cup,
.egg {
	width: 100%;
	height: 100%;
}
.text-1,
.text-2 {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--color-light);
	color: var(--color-dark-gray-blue);
	padding: 50px 0px;
}
.img-1,
.img-2 {
	display: flex;
}
.hero-two h2 {
	padding: 0px 50px 0px 50px;
	text-align: center;
	font-family: var(--font-title);
	color: var(--color-dark-blue);
}
.hero-two p {
	padding: 25px 20px 25px 20px;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}
.hero-two span {
	text-transform: uppercase;
	color: var(--color-dark-blue);
	font-family: var(--font-title);
	font-size: 14px;
	cursor: pointer;
	height: 0.5rem;
	padding: 12px 5px;
	border-radius: 4px;
}
.text-1 span {
	border-bottom: 7px solid hsla(51, 100%, 49%, 0.404);
}
.text-2 span {
	border-bottom: 7px solid hsla(7, 99%, 70%, 0.404);
}

/* Mr. David */
.cherry-orange {
	width: 100%;
}

.cherry,
.orange {
	width: 100%;
	height: 100vh;
	padding: 450px 30px 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-weight: 20px;
	align-items: center;
	background-size: 100% 100% ;
	background-position: bottom center ;

}

.cherry {
	background-image: url("../images/mobile/image-graphic-design.jpg");
}

.orange {
background-image: url("../images/mobile/image-photography.jpg");
}



.title {
	margin-bottom: 20px;
	font-size: 35px;
	text-align: center;
	font-family: var(--font-title);
	color: var(--color-dark-green);
}
.description {
	
	line-height: 2rem;
	text-align: center;
	align-items: center;
	color: var(--color-dark-green);
	max-width: 419px;
	justify-content: center;
} 

@media screen and (min-width: 600px) {
	.hero {
		background-image: url('../images/desktop/image-header.jpg');
	}
	.hero-egg {
		background-color: var(--color-yellow);
	}
	.img-1,
	.img-2 {
		display: flex;
		justify-content: center;
	}
	.egg,
	.cup {
		width: 70%;
	}
	.hero-cup {
		background-color: var(--color-red);
	}

	.cherry {
		background-image: url("../images/desktop/image-graphic-design.jpg");
	
	}
	
	.orange {
		background-image: url("../images/desktop/image-photography.jpg");
	} 
}
@media screen and (min-width: 800px) {
	.icon-menu {
		display: none;
	}
	.menu {
		display: flex;
		background: transparent;
		flex-direction: row;
		position: initial;
		column-gap: 30px;
	}
	.menu .item {
		color: var(--color-light);
		transition: color 0.2s ease-in;
	}
	.menu .item:hover {
		color: #f0f0f0;
	}
	.menu .item-button {
		background: var(--color-light);
		color: var(--color-dark-blue);
	}
	.menu .item-button:hover {
		color: inherit;
	}
	.hero {
		row-gap: 20px;
	}
	.hero h1 {
		font-size: 50px;
		margin-top: -20%;
	}
	.hero-egg {
		display: flex;
		flex-direction: row-reverse;
		max-height: 500px;
	}
	.hero-cup {
		display: flex;
		flex-direction: row;
		max-height: 500px;
	}
	.egg,
	.cup {
		width: 100%;
	}
	.text-1,
	.text-2 {
		max-width: 50%;
		max-height: 50%;
		padding: 70px;
		align-items: flex-start;
	}
	.text-1 h2,
	.text-2 h2 {
		width: 61%;
	}
	.hero-two h2,
	.hero-two p {
		padding: 40px 0px 0px 0px;
		text-align: start;
	}
	.hero-two p {
		padding: 25px 0px;
	}
	.hero-two span {
		padding: 12px 5px;
	}

	.cherry-orange {
		display: flex;
	}

	.cherry , .orange {
	 width: 50%;
		height: 90vh; 
		padding-top: 420px ;
	}

	.description {
		padding: 0px 25px;
	}.cherry-orange {
		display: flex;
	}

	.cherry , .orange {
	 width: 50%;
		height: 100vh; 
		padding-top: 420px ;
	}

	.description {
		padding: 0px 25px;
	}
}
@media screen and (min-width: 1000px) {
	.header,
	.hero {
		padding: 0 8%;
	}
	.egg,
	.cup {
		width: 100%;
	}
	.text-1,
	.text-2 {
		padding: 100px 135px;
	}
}
