@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-size: 18px;
	--font-content: 'Barlow', sans-serif;
	--font-title: 'Fraunces', serif;
	--color-red: #fe7867;
	--color-yellow: #fad400;
	--color-dark-green: #25564b;
	--color-blue: #19536b;
	--color-dark-cyan: #458c7e;
	--color-dark-blue: #23303e;
	--color-gray: #5a636c;
	--color-dark-gray-blue: #818498;
	--color-gray-blue: #a7abae;
	--color-light: #ffffff;
}

body {
	font-family: var(--font-content);
	font-size: var(--font-size);
	background: var(--color-light);
	color: var(--color-dark-blue);
}

button {
	appearance: none;
	border: none;
	background: transparent;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--color-gray-blue);
}

.main {
	width: 100%;
	background: #3dbeff;
}
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	height: 70px;
	position: relative;
}
.menu {
	display: none;
	position: absolute;
	top: 130%;
	left: 5%;
	width: 90%;
	background: var(--color-light);
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
	padding: 30px;
}
.menu.active {
	display: flex;
}
.menu::after {
	content: '';
	position: absolute;
	bottom: 100%;
	right: 0;
	border-right: 12px solid var(--color-light);
	border-top: 12px solid transparent;
	border-left: 12px solid transparent;
	border-bottom: 12px solid var(--color-light);
}
.menu .item:hover {
	color: var(--color-gray);
}
.menu .item-button {
	background: var(--color-yellow);
	font-family: var(--font-title);
	color: var(--color-dark-blue);
	padding: 8px 24px;
	border-radius: 25px;	
}
.menu .item-button:hover {
	color: var(--color-dark-blue);
}
.icon-menu {
	color: var(--color-light);
	font-size: 20px;
	cursor: pointer;
}
.hero {
	width: 100%;
	height: calc(100vh - 70px);
	display: grid;
	place-content: center;
	justify-items: center;
	row-gap: 80px;
	padding: 0 5%;
	background-image: url('../images/mobile/image-header.jpg');
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.hero h1 {
	text-transform: uppercase;
	font-family: var(--font-title);
	color: var(--color-light);
	font-size: 40px;
	text-align: center;
	letter-spacing: 4px;
}
/* inicio-última parte */
.img-gallery {
	display: grid;
	grid-template-columns: repeat(2,1fr);
}
.img-gallery img {
	width: 100%;
}
.img-gallery picture {
	display: flex ;
  }
.option-menu {
	flex-direction: column;
}
.title-font  {
	display: flex;
	align-items: center;

}

.font {
	width: 100%;
	margin: 60px 110px 40px 90px;
	display: flex;
	align-items: center;
	filter: invert(28%) sepia(22%) saturate(906%) hue-rotate(116deg) brightness(55%) contrast(91%);
}
.option-menu {
	display: flex;
	color: #458c7e;
	background:#95d4c6;
}
.option {
	display: flex;
	justify-content: space-around;
	padding:0px 15px 60px 20px ;

}
.itemone{
	color: var(--color-dark-cyan);
}
.itemone:hover {
	color: var(--color-light);
}

.rs {
	display: flex;
	background:#95d4c6;
	justify-content: space-around;
	padding:15px 90px 60px 90px ;
	
}
.fab {
	cursor: pointer;
	color:hsl(168deg 44% 32%);
}
.fab:hover {
	color: var(--color-light);
}
/* fin-última parte */
@media screen and (min-width: 600px) {
	.hero {
		background-image: url('../images/desktop/image-header.jpg');
		row-gap: 50px;
	}
	.hero h1 {
		margin-top: -10%;
	}
	/* inicio-última parte */
	.font {
		margin: 60px 140px 40px 140px;
	}
    .option {
	font-size: 25px;
	padding:0px 15px 60px 20px ;
    }
	.rs {
		justify-items: normal;
	}
	.fab {
		width: 80% 100% 30% 100%;
		padding: 10px;
	}

	/* fin-última parte */
}
@media screen and (min-width: 800px) {
	.icon-menu {
		display: none;
	}
	.menu {
		display: flex;
		background: transparent;
		flex-direction: row;
		position: initial;
		column-gap: 30px;
	}
	.menu .item {
		color: var(--color-light);
		transition: color 0.2s ease-in;
	}
	.menu .item:hover {
		color: #f0f0f0;
	}
	.menu .item-button {
		background: var(--color-light);
		color: var(--color-dark-blue);
	}
	.menu .item-button:hover {
		color: inherit;
	}
	.hero {
		row-gap: 20px;
	}
	.hero h1 {
		font-size: 50px;
		margin-top: -20%;
	}
	
	/* inicio- última parte */
	.font {
		margin: 70px 160px 40px 160px;
	}
    .option {
	font-size: 30px;
    }
	.rs {
		padding: 15px 200px 60px 200px;
	}
	/* fin-última parte */

}
@media screen and (min-width: 1000px) {
	.header,
	.hero {
		padding: 0 8%;
	}
	.img-gallery {
		display: grid;
		grid-template-columns: repeat(4,1fr);
	}

	/* inicio- última parte */
	.font {
		margin: 70px 1200px 40px 610px;
	}
    .option {
	    font-size: 15px;
		padding:0px 500px 60px 500px ;
    }
	.rs {
		padding: 15px 580px 60px 570px;
	}
	/* fin-última parte */

}
